.profile__avatar {
  grid-area: profile__avatar;
  justify-self: center;
  border-radius: 125px;
  width: 125px;
  height: 125px;
  object-fit: cover;
  margin: 0;
  margin-bottom: 25px;
  cursor: pointer;
}
.profile__avatar:before {
  content: '';
  background-image: url(../../../images/pencil.svg);
  display: block;
  position: relative;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.profile__avatar:hover {
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}


@media screen and (min-width: 768px) {
  .profile__avatar {
    border-radius: 170px;
    width: 170px;
    height: 170px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__avatar {
    border-radius: 125px;
    width: 125px;
    height: 125px;
    margin-bottom: 0;
  }
}
